include ../rate-button/rate-button

mixin sample({ list=[] })
  each item in list
    .sample
      .sample__image.js-sample__image
        .sample__image-container.js-sample__image-container
          - for (let i = 0; i < item.img.length; i += 1)
            a.sample__image-room.js-sample__image-room(href= item.href)
              img.sample__image-pic(src= `img/room-${item.img[i]}.jpg` alt='room-img')
          .sample__image-ellipses
            .js-sample__image-ellipses-item.sample__image-ellipses-item
            .js-sample__image-ellipses-item.sample__image-ellipses-item
            .js-sample__image-ellipses-item.sample__image-ellipses-item
            .js-sample__image-ellipses-item.sample__image-ellipses-item
        .sample__image-arrow.sample__image-arrow_prev.js-sample__image-arrow_prev
          .sample__image-arrow-wrapper
            i.material-icons keyboard_arrow_left
        .sample__image-arrow.sample__image-arrow_next.js-sample__image-arrow_next
          .sample__image-arrow-wrapper
            i.material-icons keyboard_arrow_left

      .sample__info
        .sample__price
          .sample__price-numeration №
          .sample__price-number= item.number
          .sample__price-luxury= item.luxury
          .sample__price-cost= `${item.cost}₽`
          .sample__price-inday в сутки
        .sample__reviews
          +rate-button({rate: item.rate})
          .sample__reviews-number= item.reviews
          .sample__reviews-text Отзывов
