mixin dropdown({ active = false, category = '', defaultText = '', list = [] })
  - const menuOpen = active ? 'dropdown__menu_active' : '' ;
  
  .dropdown.js-dropdown
    .dropdown__wrapper(class=`js-dropdown-${category}`)
      input.dropdown__selection.js-dropdown__selection(name=category, value=defaultText)
      i.material-icons.dropdown__icon.js-dropdown__icon expand_more
      .dropdown__menu.js-dropdown__menu(class= menuOpen)
        each item in list
          .dropdown__menu-options.js-dropdown__menu-options(
            data-id=`${item.title}`,
          )
            p.dropdown__item= item.title
            .dropdown__controls.js-dropdown__controls
              .dropdown__controls-increment.dropdown__controls-button.js-minus -
              input.dropdown__controls-counter.js-controls-counter(readonly="readonly" type="text" value=`${item.count}`) 
              .dropdown__controls-decrement.dropdown__controls-button.js-plus +
