mixin dropdown({ category='', defaultText='', list=[] })
  div.iqdropdown(class=`js-dropdown-${category}`)
    input.iqdropdown__selection.js-iqdropdown__selection(name=category, value=defaultText)
    i.material-icons.iqdropdown__icon.js-iqdropdown__icon expand_more
    .iqdropdown__menu.js-iqdropdown__menu
      each item in list
        .iqdropdown__menu-option.js-iqdropdown__menu-option(
          data-id=`${item.title}`,
        )
          p.iqdropdown__item= item.title
          .iqdropdown__controls.js-iqdropdown__controls
            .iqdropdown__controls-increment.controls-button.js-minus -
            input.iqdropdown__controls-count.js-controls-count(readonly="readonly" type="text" value=`${item.count}`) 
            .iqdropdown__controls-decrement.controls-button.js-plus +
