mixin dropdown({ category='', defaultText='', list=[] })
  div.iqdropdown(class=`js-dropdown__${category}`)
    input.iqdropdown-selection.js-iqdropdown-selection(name=category, value=defaultText)
    i.material-icons.expand-more__icon.js-iqdropdown-icon expand_more
    .iqdropdown-menu.js-iqdropdown-menu
      each item in list
        .iqdropdown-menu-option.js-iqdropdown-menu-option(
          data-id=`${item.title}`,
        )
          p.iqdropdown-item= item.title
          .iqdropdown-controls.js-iqdropdown-controls
            .iqdropdown-controls__increment.controls__button.js-minus -
            input.iqdropdown-controls__count.js-controls__count(readonly="readonly" type="text" value=`${item.count}`) 
            .iqdropdown-controls__decrement.controls__button.js-plus +
