mixin field({ title='', note='', placeholder='', value='', name ='', masked=false, calendar={on, input}, type='text', button={send:false,dropdown:false} }={})
  - let classes = [];
  - let mainClass = [];
  if calendar.input == 'range'
    - mainClass.push('js-calendar')
  if masked
    - classes.push('js-masked');
  if calendar.on
    - classes.push(`js-calendar-${calendar.input}`);

  .field(class=mainClass)
    .field__header
      h3.field__title= title
      .field__note= note
    input.field__input(class=classes, placeholder=placeholder, value=value, type=type, name=name)
    if button.send
      i.material-icons.field__arrow-icon arrow_forward
    if button.dropdown
      i.material-icons.field__expand-more-icon expand_more
