mixin field({ title='', note='', placeholder='', value='', masked=false, calendar={on, input}, type='text', button={send:false,dropdown:false} }={})
  - let classes = [];
  if masked
    - classes.push('js-masked');
  if calendar.on
    - classes.push(`js-calendar__${calendar.input}`);

  .field__wrapper
    .filed__header
      h3.field__title= title
      .field__note= note
    input.field__input(class=classes, placeholder=placeholder, value=value, type=type)
    if button.send
      i.material-icons.arrow__icon arrow_forward
    if button.dropdown
      i.material-icons.expand-more__icon expand_more
