include ../dropdown/dropdown
include ../field/field

mixin booking({ header=[], price=[], total='' })
  form.booking
    .booking__header
      .booking__header-numeration №
      .booking__header-number= header.number
      .booking__header-luxury= header.luxury
      .booking__header-cost= header.cost
      .booking__header-inday в сутки
    .booking__date-range.js-calendar
      +field({title: 'Прибытие', name: 'calendar-start', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'start'}})
      +field({title: 'Выезд', name: 'calendar-end', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'end'}})
    .booking__guests.js-dropdown
      h3.booking__guests-title Гости
      +dropdown({category: 'guests', list:[{title: 'Взрослые', count: 0}, {title: 'Дети', count: 0}, {title: 'Младенцы', count: 0}]})
    .booking__price
      each item in price
        .price-item
          .price-item__name= item.name
          if item.info
            i.material-icons.price-item__info error_outline
          .price-item__cost= item.cost
    .booking__total
      .booking__total-title Итого
      .booking__total-points
      .booking__total-cost= total
    +button({title: 'Забронировать', arrow: true}).button_size_long
