include ../dropdown/dropdown
include ../field/field

mixin booking({ header=[], price=[], total='' })
  form.booking
    .booking-header
      .booking-header__numeration №
      .booking-header__number= header.number
      .booking-header__luxury= header.luxury
      .booking-header__cost= header.cost
      .booking-header__inday в сутки
    .booking-range.js-calendar
      +field({title: 'Прибытие', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'start'}})
      +field({title: 'Выезд', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'end'}})
    .booking-guests.js-dropdown
      h3.dropdown__title Гости
      +dropdown({category: 'guests', list:[{title: 'Взрослые', count: 0}, {title: 'Дети', count: 0}, {title: 'Младенцы', count: 0}]})
    .booking-price
      each item in price
        .price-item
          .price-item__name= item.name
          if item.info
            i.material-icons.price-item__info error_outline
          .price-item__cost= item.cost
    .booking-total
      .booking-total__title Итого
      .booking-total__points
      .booking-total__cost= total
    +button({title: 'Забронировать', long: true})
